{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}

{% block content %}
<section class="login signup">
    <fieldset>
        <legend>Inscription</legend>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="S'inscrire">
            <div class="error">
                {% if messages %}
                    {% for message in messages %}
                        <div>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </form>
    </fieldset>
</section>
{% endblock %}