{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <h2>Garderie Intelligente & Connectée</h2>
        <p>Confiez vos compagnons de 1 nuit à 4 semaines dans un environnement encadré par une équipe de soigneurs et monitoré par IA.</p>
        <div class="hero-buttons">
            <a href="{% url 'garderie' %}" class="btn-primary">Réserver une garde</a>
            <a href="{% url 'boutique' %}" class="btn-secondary">Découvrir les objets connectés</a>
        </div>
    </div>
</section>

<section class="container">
    <h2 class="section-title">Nos 3 Univers de Garde</h2>
    <div class="pet-grid">
        <div class="pet-card">
            <i class="fas fa-dog fa-3x"></i>
            <h3>Chiens</h3>
            <p>Suivi d'activité et parcs sécurisés.</p>
        </div>
        <div class="pet-card">
            <i class="fas fa-cat fa-3x"></i>
            <h3>Chats</h3>
            <p>Litières auto-nettoyantes & espaces zen.</p>
        </div>
        <div class="pet-card">
            <i class="fas fa-dragon fa-3x"></i>
            <h3>Reptiles</h3>
            <p>Terrariums avec cycles UV & chaleur régulés.</p>
        </div>
    </div>
</section>

<section class="smart-features">
    <div class="container">
        <h2 class="section-title white">La Technologie au service de l'animal</h2>
        <div class="feature-list">
            <div class="feature-item">
                <i class="fas fa-tint"></i>
                <h4>Eau Connectée</h4>
                <p>Fontaine à eau connectée permettant de suivre la consommation d'eau des animaux mais aussi leur permattant de boire plus ludiquement.</p>
            </div>
            <div class="feature-item">
                <i class="fas fa-sun"></i>
                <h4>Gestion UV / Chaleur</h4>
                <p>Idéal pour le bien-être de vos reptiles.</p>
            </div>
            <div class="feature-item">
                <i class="fas fa-robot"></i>
                <h4>Hygiène Auto</h4>
                <p>Litières Smart nettoyées après chaque passage.</p>
            </div>
            <div class="feature-item">
                <i class="fas fa-thermometer-half"></i>
                <h4>Climatisation IA</h4>
                <p>Température constante adaptée à chaque espèce.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
